body{
    margin: 0;
}

div#title-indexs{
    background-color: rgb(238,244,247);
}
div#title-bar{
    height: auto;
    padding: 7px;
    padding-left: 20px;
    background-color: rgb(236,236,236);
}
span#title-right{
    float: right;
    vertical-align: middle;
}
h1#title-h1{
    display: inline-block;
}

a.a-text{
    text-decoration: none;
    color: black;
}

div.index-block-out{
    display: inline-block;
    vertical-align: top;
    border-radius: 10px;
    padding: 10px;
}