body{
    margin: 0;
}

div#title-indexs{
    background-color: rgb(238,244,247);
}
div#title-bar{
    padding: 7px;
    background-color: rgb(236,236,236);
}
span#title-right{
    position: absolute;
    right: 0;
    top: 0;
    vertical-align: middle;
}
div#title-ico{
    display: inline-block;
}



span.underline{
    border-bottom: 4px solid #17a2b8;
}

div.index-block-out{
    display: inline-block;
    vertical-align: top;
    border-radius: 10px;
    padding: 10px;
}

div#bottom-bar{
    padding: 10px;
    background-color: rgb(236,236,236);
}

#title-ico-img{
    width: 75px;
    height: 75px;
    border-radius: 37.5px;
}

button.blue{
    background-color: #17a2b8;
    padding: 10px;
    border-radius: 10px;
    border: none;
    color: white;
    font-size: 16px;
}