a.title-login{
    font-size: 24px;
}

.underline{
    border-bottom: 4px solid #17a2b8;
}

.ft24{
    font-size: 24px;
}

.point{
    cursor: pointer;
}

.black{
    color: #000;
}

.bl-hormid{
    margin-left: auto;
    margin-right: auto;
}

.inl{
    display: inline-block;
    vertical-align: top;
}

a.a-text{
    text-decoration: none;
    color: black;
}

.nobold{
    font-weight: normal;
}

.back-fz0{
    background: url('//kevinwu521.gitee.io/res/fz/0.jpg');
    background-size: 100% 100%;
}

.back-fz2{
    background: url('//kevinwu521.gitee.io/res/fz/2.jpg');
    background-size: 100% 100%;
}

.txtblue{
    color: #17a2b8;
}