#add-forum{
    position: absolute;
    top: 24px;
    right: 24px;
}

.forum{
    padding: 24px;
    border-radius: 24px;
}

.forum-container{
    background-color: rgb(236,236,236);
    border-radius: 24px;
    padding: 20px;
    margin: 24px 0;
}