#title{
    display: inline;
    width: calc(100% - 100px);
    margin: 24px 0px 0px 0px;
    height: 24px;
    font-size: 12px;
    padding: 6px;
}
#txt-count{
    display: inline;
    position: absolute;
    right: 10px;
    padding: 10px 0px 0px 0px;
}

#edit{
    margin: 24px 0px 0px 0px;
    padding: 8px 8px 0 8px;
    border: 1px solid rgb(200,200,200);
    min-height: 180px;
}

#editContent{
    display: inline;
    cursor: pointer;
}
#previewContent{
    display: inline;
    cursor: pointer;
}

#content-div{
    margin: 10px 0px 0px 0px;
    min-width: 160px;
    position: relative;
}
#content{
    width: calc(100% - 12px);
    margin: 10px 0px;
    font-size: 12px;
    padding: 6px;
    resize: none;
    border: none;
    outline: none;
}
#content-count{
    position: absolute;
    margin: 0;
    right: 0;
    bottom: 0;
}

#content-bottom-cnt{
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
}


#preview-div{
    margin: 10px 0px 0px 0px;
}

#upload-file-button{
    background-color: #fff;
    border-radius: 6px;
    padding: 6px;
    border: 1px solid #bbb;
    margin: 0px 0px 10px 0px;
}

#submit-button{
    margin: 20px 0 0 0 ;
}

.upload-file-buttons{
    margin: 0 4px 0 0;
}